@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/undercasetype/Fraunces */
@font-face {
  font-family: 'Fraunces72pt';
  src: url('./assets/fonts/Fraunces72pt-Thin.woff2');
  font-weight: thin;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity all 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: 0.15s;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-15px);
}
